<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="Banksoft">
            <section name="DALSettings" type="Banksoft.DAL.DALSettings, Banksoft.Common, Version=1.0.0.3, Culture=neutral, PublicKeyToken=c9b6d4f994ddad56" allowLocation="true" allowDefinition="Everywhere"/>
            <section name="LoggerSettings" type="Banksoft.Logging.LoggerSettings, Banksoft.Common, Version=1.0.0.3, Culture=neutral, PublicKeyToken=c9b6d4f994ddad56" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>

    <appSettings>
        <add key="ScrumsPath" value="C:\Scrum\DOSYA" />
    </appSettings>

    <Banksoft>
        <DALSettings>
            <Connection Name="SCRUMDB"   Server="BSS02" Database="BPersoEgitim" XmlQueryResourceEnabled="true" IntegratedSecurity="SSPI"/>
        </DALSettings>

        <LoggerSettings>
            <Error Enabled="true" FilePath="c:\bbError" FileName="ScrumProcess" FileExtension="err" FileCount="1"/>
            <Trace Enabled="true" FilePath="c:\bbError" FileName="ScrumProcess" FileExtension="trc" FileCount="1"/>
        </LoggerSettings>
    </Banksoft>
</configuration>
